* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px 200px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-botoes {
    margin-right: 30px;
    display: flex;
    font-size: x-large;
    align-items: center;
}

.header-botoes a {
    margin-right: 30px;
}

.header input {
    margin: 45px;
    width: 40%;
    height: 32px;
    font-size: large;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0.5px rgb(153, 153, 153);
}

.header input::placeholder {
    opacity: 30%;
}

#header-logo {
    width: 200px;
}