:root {
    --header-background-color:#252525;
    --footer-background-color: #252525;
    --vermelho-do-site: #b81515;
    --body-background-color: #181818;
    --input-bacground-color: #414141;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-background-color);
    min-height: 100vh;
    margin: 0;
    font-family: "koboto", sans-serif;
}


/* lembrar de retirar o fundo de sombra da logo (VINCIUS) */
.header {
    padding: 0px 180px;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--vermelho-do-site) solid 2px;
}

.header a {
    background-color: var(--header-background-color);
    color: white;
}

.header a:hover {
    background-color: var(--header-background-color);
    color: var(--vermelho-do-site);
}

.header-botoes {
    display: flex;
    font-size: x-large;
    align-items: center;
    gap: 15px;
}

.header-botoes a {
    display: flex;
    gap: 10px;
    background-color: var(--vermelho-do-site);
    transition: background 0.2s ease, transform 0.2s ease;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 5px 1px var(--input-bacground-color);
}

.header-botoes a:hover{
    transform: scale(1.05);
    filter: drop-shadow(1px 1px 8px var(--vermelho-do-site));
}

.header-botoes a img{
    width: 30px;
}

.header input {
    margin: 45px;
    width: 40%;
    height: 32px;
    background-color: var(--input-bacground-color);
    font-size: large;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 5px 3px #333333;
}

.header input::placeholder {
    opacity: 30%;
}

#header-logo {
    width: 200px;
}   

#barra-de-pesquisa {
    transition: box-shadow 0.2s ease-in-out;
}

#barra-de-pesquisa:focus {
    outline: none;
    box-shadow: 0.5px 0.5px 6px 0.5px var(--vermelho-do-site);
}

.cabecalho {
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(135deg, rgb(250, 250, 250) 0%, #ffffff 100%);
}

.cabecalho__logo {
    width: 150px;
}

.input_text {
    width: 400px;
    height: 20px;
    outline: none;
}

.itens {
    padding: 0.5% 1.5%;
    display: flex;
    justify-content: space-between;    
    gap: 5px;
}

.itens__especificos {
    font-family: 'koboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 1%  ;
    width: 250px;
    height: 25px;
    background-color: #b81515;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.itens__especificos:hover {
    background-color: #ce4444;
    cursor: pointer;
}

a {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 8px 16px;
    background: #d21919;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.2s;
}

a:hover {
    background: #f70808;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--footer-background-color);
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 2px solid var(--vermelho-do-site);
}

.footer-img {
    height: 40px;
}

.footer-titulo {
    display: block;
    margin-top: 1 0px;
    color: #c10707;
    padding-bottom: 5px;
}