:root {
    --header-background-color:#252525;
    --footer-background-color: #252525;
    --vermelho-do-site: #b81515;
    --body-background-color: #181818;
    --input-bacground-color: #414141;
}

* {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 10px auto;
    width: 500px;
    display: flex;
    justify-content: center;
    color: var(--vermelho-do-site);
}

