.header {
    padding: 20px 200px;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-header {
    background-color: var(--header-background-color);
}

.header-botoes {
    margin-right: 30px;
    display: flex;
    font-size: x-large;
    align-items: center;
}

.header-botoes a {
    margin-right: 30px;
}

.header input {
    margin: 45px;
    width: 40%;
    height: 32px;
    font-size: large;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0.5px rgb(153, 153, 153);
}

.header input::placeholder {
    opacity: 30%;
}

.containers{
    display: flex;
    justify-content: space-around;
}

.anuncio{
    margin: 20px 40px;    
    background-color: #fff;
    width: 30%;
    border-radius: 16px;  
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_produto{
    padding: 2% 0;
    width: 250px;
}

.descricao_produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}