.containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 100px 20px;
}

.anuncio {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_produto{
    padding: 2% 0;
    width: 250px;
}

.descricao_produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}